# **Python Refresh â€“ Data Types, Loops, Functions**

## **BASIC LEVEL**

### Data Types



1.  Create variables of type int, float, string, list, tuple, dict, set, and bool. Print their types using type().

In [1]:
no_of_balls_in_an_over = 6
net_runrate = 10.67
on_strike_player_name = "Sachin Tendulkar"

indian_cricket_team = ['sachin tendulkar', 'rohit sharma', 'virat kohli', 'gautham gambhir']
team_captain_vice_captain = ('sachin tendulkar','rohit sharma')
player_with_jersey_num = {'sachin tendulkar': 10, 'rohit sharma': 45, 'virat kohli': 18, 'gautham gambhir': 97}
set_players = {'sachin tendulkar', 'rohit sharma', 'virat kohli', 'gautham gambhir'}

boolean_values_1 = True
boolean_value_2 = False

print("Number of balls in an over : ",no_of_balls_in_an_over, "and type of this variable is : ", type(no_of_balls_in_an_over))
print("Current run rate : ", net_runrate, "and type of this variable is : ", type(net_runrate))
print("Player on strike is : ", on_strike_player_name, "and type of this variable is : ", type(on_strike_player_name))
print("Todays's Indian Cricket team is : ",indian_cricket_team, "and type of this variable is : ", type(indian_cricket_team))
print("Indian cricket team captain and vice captain are : ",team_captain_vice_captain, "and type of this variable is : ", type(team_captain_vice_captain))
print("Indian team members with jersey numbers : ",player_with_jersey_num, "and type of this variable is : ", type(player_with_jersey_num))
print('Total number of unique players in our team are : ', set_players, "and type of this variable is : ", type(set_players))
print("Are we gonna win : ",boolean_values_1, "and type of this variable is : ", type(boolean_values_1))
print("Are we gonna loose : ",boolean_value_2, "and type of this variable is : ", type(boolean_value_2))

Number of balls in an over :  6 and type of this variable is :  <class 'int'>
Current run rate :  10.67 and type of this variable is :  <class 'float'>
Player on strike is :  Sachin Tendulkar and type of this variable is :  <class 'str'>
Todays's Indian Cricket team is :  ['sachin tendulkar', 'rohit sharma', 'virat kohli', 'gautham gambhir'] and type of this variable is :  <class 'list'>
Indian cricket team captain and vice captain are :  ('sachin tendulkar', 'rohit sharma') and type of this variable is :  <class 'tuple'>
Indian team members with jersey numbers :  {'sachin tendulkar': 10, 'rohit sharma': 45, 'virat kohli': 18, 'gautham gambhir': 97} and type of this variable is :  <class 'dict'>
Total number of unique players in our team are :  {'sachin tendulkar', 'virat kohli', 'rohit sharma', 'gautham gambhir'} and type of this variable is :  <class 'set'>
Are we gonna win :  True and type of this variable is :  <class 'bool'>
Are we gonna loose :  False and type of this variable is :  <class 'bool'>

2.   Convert the string "123.45" into a float and then into an integer.

In [2]:
ran_var = "123.45"
fl_ran_var = float(ran_var)
int_ran_var = int(fl_ran_var)
print(fl_ran_var, type(fl_ran_var))
print(int_ran_var, type(int_ran_var))

123.45 <class 'float'>
123 <class 'int'>

3.   Create a list of 5 numbers and find the maximum, minimum, and sum without using built-in functions like max() or min().

In [3]:
lis_1 = [24, 45, 11, 99, 57]

prev_max = lis_1[0]
prev_min = lis_1[0]

sum = 0
for i in lis_1:
  sum += i
  if i > prev_max:
    prev_max = i
  elif i < prev_min:
    prev_min = i

print("Maximum value in the list is : ", prev_max)
print("Minimum value in the list is : ", prev_min)
print("Sum of all the values in the list is : ", sum)

Maximum value in the list is :  99
Minimum value in the list is :  11
Sum of all the values in the list is :  236

### Loops

1.   Print numbers from 1 to 10 using a for loop.

In [4]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

2.   Print only even numbers between 1 and 20 using a while loop.

In [5]:
num = 2

while num <= 20:
  print(num, end=' ')
  num += 2

2 4 6 8 10 12 14 16 18 20

3.  Given a string "python", print each character in reverse order using a loop.

In [6]:
str_1 ="python"

for i in range (len(str_1)-1, -1, -1):
  print(str_1[i])

n
o
h
t
y
p

### Functions

1.   Write a function that takes two numbers and returns their sum.

In [7]:
def sum_of_two_num(a, b):
    return a + b

sum_of_two_num(10, 20)

30

2.   Write a function that checks whether a number is prime or not.

In [8]:
num = 53

is_prime = True

if num > 1:
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
else:
    is_prime = False

if is_prime:
    print(num, "is a prime number")
else:
    print(num, "is not a prime number")

53 is a prime number

3.   Write a function that accepts a list and returns the length of the list.

In [9]:
def list_length(my_list):
  return len(my_list)

numbers = [10, 20, 30, 40, 50]

print("Length of list: ", list_length(numbers))

Length of list:  5

## **MID LEVEL**

### Data Types

1.   Given a list of integers, remove duplicates without using set().

In [10]:
lis_3 = [10, 20, 10, 40,20, 40, 20]
lis_4 = []
for i in lis_3:
  if i not in lis_4:
    lis_4.append(i)

print(lis_4)

[10, 20, 40]

In [11]:
def remove_duplicates(lst):
    unique_list = []
    for item in lst:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list


# Example usage:
lis_3 = [10, 20, 10, 40, 20, 40, 20]
result = remove_duplicates(lis_3)
print(result)

[10, 20, 40]

2.   Merge two dictionaries { 'a': 1, 'b': 2 } and { 'b': 3, 'c': 4 } so that if a key exists in both, the values are summed.

In [12]:
dict_1 = {'a': 1, 'b': 2}
dict_2 = {'b': 3, 'c': 9}

merged_dict = dict_1.copy()

for key, value in dict_2.items():
  if key in merged_dict:
    merged_dict[key] += value
  else:
    merged_dict[key] = value

print(merged_dict)

{'a': 1, 'b': 5, 'c': 9}

3.   Create a dictionary that counts the frequency of each character in a given string.

In [13]:
text = "varun thati"

char_freq = {}

for char in text:
    if char in char_freq:
        char_freq[char] += 1
    else:
        char_freq[char] = 1

print(char_freq)

{'v': 1, 'a': 2, 'r': 1, 'u': 1, 'n': 1, ' ': 1, 't': 2, 'h': 1, 'i': 1}

### Loops

1. Print the multiplication table of a given number up to 10.

In [14]:
n = int(input("Enter the number you want to get the multiplication table for : "))

for i in range(1, 11):
  print(n, 'x', i, '=', n*i)

Enter the number you want to get the multiplication table for : 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

2.  Find the factorial of a number using both for and while loops.

In [15]:
n = int(input("Enter the number you want to find out the factorial for: "))
prod = 1
for i in range(1, n+1):
  prod *= i

print(prod)

Enter the number you want to find out the factorial for: 5
120

In [16]:
n = int(input("Enter the number you want to find out the factorial for: "))

prod = 1
cnt = 1
while cnt <= n:
  prod *= cnt
  cnt += 1
print(prod)

Enter the number you want to find out the factorial for: 6
720



3. Given a list of numbers, use a loop to separate them into two lists: one containing even numbers and the other containing odd numbers.

In [17]:
main_list = [10, 11, 20, 21, 30, 31, 40, 41, 50, 51, 60, 61, 70, 71, 80, 81, 90, 91, 100, 101, 110, 111, 120, 121, 130, 131, 140, 141]
even_list = []
odd_list = []

for i in main_list:
  if i % 2 == 0:
    even_list.append(i)
  else:
    odd_list.append(i)

print("Even numbers list : ", even_list)
print("Odd numbers list : ", odd_list)

Even numbers list :  [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140]
Odd numbers list :  [11, 21, 31, 41, 51, 61, 71, 81, 91, 101, 111, 121, 131, 141]

### Functions



1.   Write a function that accepts a string and returns it with vowels removed.

In [18]:
def name_without_vowels(str_1):
    vowels = ['a', 'e', 'i', 'o', 'u']
    list_str_1 = []
    final_list = []
    final_str = ''
    for i in str_1:
        list_str_1.append(i)
    for i in list_str_1:
        if i not in vowels:
            final_list.append(i)
    for i in final_list:
        final_str += i
    return final_str

str_1 = input("Enter some thing where you want to remove vowels: ")
name_without_vowels(str_1)

Enter some thing where you want to remove vowels: Varun Thati

'Vrn Tht'

2.   Write a function that finds the second-largest number in a list without using sorted().

In [19]:
lis_1 = [10, 11, 21, 6, 7, 20]

largest = max(lis_1)
lis_1.remove(largest)
second_largest = max(lis_1)

print("Second largest number in the list is : ", second_largest)

Second largest number in the list is :  20

In [20]:
def second_largest(nums):
    largest = max(nums)
    nums.remove(largest)
    return max(nums)

# Example
numbers = [10, 20, 4, 45, 99]
print("Second largest:", second_largest(numbers))

Second largest: 45

3.   Write a function that takes any number of arguments and returns their average.

In [21]:
del sum

def avg_function(*args):
     return sum(args) / len(args)

print(avg_function(10, 45, 66, 78, 100))

59.8

## **ADVANCED LEVEL**

### Data Types



1.   Implement a nested dictionary representing a small student database:



```
{
  "Aniketh": {"Math": 85, "Science": 90},
  "Bharat": {"Math": 78, "Science": 88}
}

```

Write a program to:

Add a new subject score to all students.

Update a score for a specific student.

Find the student with the highest total score.

Given a mixed list like [1, '2', 3.0, 'four', 5], create a new list containing only the integer values (convert strings if possible).

In [22]:
students = {
  "Aniketh": {"Math": 85, "Science": 90},
  "Bharat": {"Math": 78, "Science": 88}
}

# 1. Add a new subject score to all students

for i in students:
  students[i]['English'] = 95
print("1st output")
print(students)
print("*"*50)

# 2. Update a score for a specific student

students['Aniketh']['Math'] = 99
print("2nd output")
print(students)
print("*"*50)

# 3. Find the student with the highest total score

highest_score = 0
highest_score_student = None

for student, subjects in students.items():
  total_score = sum(subjects.values())
  if total_score > highest_score:
    highest_score = total_score
    highest_score_student = student

print("3rd output")
print("Updated student database: ", students)
print("Student with highest total score: ", highest_score_student)

1st output
{'Aniketh': {'Math': 85, 'Science': 90, 'English': 95}, 'Bharat': {'Math': 78, 'Science': 88, 'English': 95}}
**************************************************
2nd output
{'Aniketh': {'Math': 99, 'Science': 90, 'English': 95}, 'Bharat': {'Math': 78, 'Science': 88, 'English': 95}}
**************************************************
3rd output
Updated student database:  {'Aniketh': {'Math': 99, 'Science': 90, 'English': 95}, 'Bharat': {'Math': 78, 'Science': 88, 'English': 95}}
Student with highest total score:  Aniketh

2.   Given a mixed list like [1, '2', 3.0, 'four', 5], create a new list containing only the integer values (convert strings if possible).

In [23]:
lis_1 = [1, '2', 3.0, 'four', 5]

int_list = [int(i) for i in lis_1 if isinstance(i, int) or (isinstance(i, str) and i.isdigit())]

print(int_list)

[1, 2, 5]

### Loops

1.   Write a program to generate the first n numbers of the Fibonacci sequence using loops.

In [24]:
# num = 10
# prev_num = 0
# curr_num = 1

fib_no = int(input("Enter the number of terms: "))
list_2 = [0, 1]
for i in range (fib_no-2):
    v1 = list_2[-1]
    v2 = list_2[-2]
    v3 = v1 + v2
    list_2.append(v3)

print(list_2)

Enter the number of terms: 9
[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [25]:
n = int(input("Enter the number of terms: "))

a, b = 0, 1

print("Fibonacci sequence: ")

for i in range(n):
  print(a, end=' ')
  a, b = b, a + b

Enter the number of terms: 9
Fibonacci sequence:
0 1 1 2 3 5 8 13 21

2.   Implement a program that prints a right-angled triangle pattern made of * with a height given by the user.

In [26]:
for i in range(1, 6):
  print(i*'*')

*
**
***
****
*****

3. Using nested loops, print a multiplication table from 1 to 10 in a grid format.

In [27]:
for i in range(1, 11):
  for j in range(1, 11):
      print(i*j, end=' ')
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [28]:
for i in range(1, 11):
  for j in range(1, 11):
      print(i*j, end=' ')
  print('\n')

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

In [29]:
for i in range(1, 11):
  for j in range(1, 11):
      print(f"{i*j:4}", end=' ')
  print()

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100

### Functions



1.   Write a recursive function to calculate the sum of digits of a number.

In [30]:
def rec_addition(n):
    if n == 0:
        return 0
    return (n % 10) + rec_addition(n // 10)

result = rec_addition(123456)
print(result)

21

In [31]:
def rec_addition(a):
  s = 0
  b = str(a)
  for i in b:
    con = int(i)
    s += con
  return s

rec_addition(123456)

21

2. Write a function that returns a list of prime numbers within a given range using the Sieve of Eratosthenes method.

In [32]:
def sieve_of_eratosthenes(limit):
    # Step 1: Assume all numbers are prime initially
    primes = [True] * (limit + 1)
    primes[0], primes[1] = False, False  # 0 and 1 are not prime

    p = 2
    while p * p <= limit:
        if primes[p]:  # If prime, mark multiples as False
            for multiple in range(p * p, limit + 1, p):
                primes[multiple] = False
        p += 1

    # Step 2: Collect all numbers still marked as prime
    return [num for num, is_prime in enumerate(primes) if is_prime]

# Example usage
print(sieve_of_eratosthenes(30))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

3.  Write a higher-order function that takes another function and a list as arguments, and applies the function to all elements of the list.

In [33]:
def apply_function(func, data_list):
    return [func(item) for item in data_list]

# Example usage:
def square(x):
    return x * x

numbers = [1, 2, 3, 4, 5]
result = apply_function(square, numbers)
print(result)

[1, 4, 9, 16, 25]